.refreshButtonContainer {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  margin-bottom: 5em;
}

.refreshButton {
  background-color: #FDF7C3;
  width: 40px;
  height: 40px;
  border-radius: 100% 100%;
  box-shadow: 2px 2px 5px grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.refreshButton:active {
  background-color: #FFDEB4;
}

.refreshIcon {
  width: 40px;
  height: 40px;
}