li {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 20px;
}

img, .favoriteBtn, .deleteBtn {
  width: 300px;
}

.deleteBtn {
  background-color: red;
  border: none;
}

.deleteBtn:active {
  background-color: rgb(170, 0, 0)
  ;
}