li {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-bottom: 1em;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 0.5em;
  box-shadow: grey 0px 0px 9px;
}

/* img, .favoriteBtn, .deleteBtn {
  width: 100%;
} */

.deleteBtn {
  background-color: red;
  border: none;
}

#deleteBtn:active {
  height: 1.5em;
  background-color: rgba(255, 0, 0, 0.582);
  font-weight: bold;
}

.deleteBtn:hover {
  background-color: rgb(236, 54, 54);
}