li {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-bottom: 1em;
}

img, .favoriteBtn, .deleteBtn {
  width: 100%;
}

.deleteBtn {
  background-color: red;
  border: none;
}

#deleteBtn:active {
  height: 1.5em;
  background-color: rgba(255, 0, 0, 0.582);
  font-weight: bold;
}

.deleteBtn:hover {
  background-color: rgb(236, 54, 54);
}